#!/bin/bash
set -euo pipefail

start_time=$SECONDS
filename=europa.tar.gz

aws s3 cp s3://${bucket_uri}/europa.tar.gz /var/www/johnjflynn.net
tar -xzf /var/www/johnjflynn.net/europa.tar.gz -C /var/www/johnjflynn.net --strip-components=1
rm /var/www/johnjflynn.net/europa.tar.gz
chown -R www-data:www-data /var/www/johnjflynn.net
chmod -R 754 /var/www/johnjflynn.net/storage

end_time=$SECONDS
echo $((end_time - start_time)) > /script_time
